extends layout

block content
  h1= title
  p <img src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSIXpPDkNEc3QAimvh6MQEgdjSW7CocN7OUkJwOQnqzfnWinAbEJw" />
  p The fennec fox is giving you the stinkeye for giving a rating outside the 1-10 range.
  p Your data has NOT been submitted to the database.
  p Scan the QR code again, and make the little fennec happy.
 
