extends layout

block content
  h1= title
  p <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR18Juij9kG5Unwo4UbY9lY_Mceas0JyDT5Fv6_2ff-ccm7ptS3Q" />
  p Quit trying to game the system! Can't you READ?! Vote on a scale of 1 to 10 ONLY, fool. 
  p Do NOT pass Go, do NOT collect $200, your vote has NOT been submitted to the database.
  p Scan the QR code again, and get it right this time.
 
